.title {
  color: #333;
  padding-bottom: 20px;
  text-align: center;
  z-index: 1;
}

.text {
  color: #777;
}

.btn {
  display: block;
  width: 150px;
  padding: 8px 0;
  margin: 20px auto;
  background: #2a9d8f;
  border-radius: 4px;
  color: white;
  text-align: center;
  z-index: 1;
}

.landingImage {
  height: 500px;
  z-index: -1;
}

.landingText {
  color: #777;
  position: relative;
  z-index: 1;
  text-align: center;
}
